<div class="content">
    <form [formGroup]="options">
      <div class="example-form-fields">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
          <input matInput [formControl]="emailControl">
        </mat-form-field>
        <mat-form-field [floatLabel]="getFloatLabelValue()">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passwordControl">
        </mat-form-field>
  
        <mat-form-field [floatLabel]="getFloatLabelValue()">
            <mat-label>One Time Authentication</mat-label>
            <input matInput type="token" [formControl]="oneTimeAuthControl">
        </mat-form-field>
      </div>
    </form>
    <button mat-raised-button color="primary" (click)="onLogin()"> Login</button>
  </div>
  