 div.content {
    position: absolute;
    width: 400;
    height: 400;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white
  }