 div.login-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white
  }

div.login-fields {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

.token-field {
    padding-top: 50px;
  }