<div class="login-content">
    <form [formGroup]="options">
      <div class="login-fields">
        <mat-form-field>
            <mat-label>Email Address</mat-label>
          <input matInput [formControl]="emailControl">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passwordControl">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onLogin()"> Login</button>
        <mat-form-field class="token-field">
            <mat-label>One Time Authentication</mat-label>
            <input matInput type="token" [formControl]="oneTimeAuthControl">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="oneAuth()"> Show Authentication Token</button>
      </div>
    </form>
</div>
  